<div class="row"> 
    <h1> Educacion </h1>
    <div class="col-log-1"></div>
    <div class="col-log-11">
        <ul>
            <li>
                <h2> Edu 1 </h2>  - <h3> (years) </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit ullam at mollitia quas natus placeat provident earum minima tenetur! Consequuntur dolorum reprehenderit officia maxime necessitatibus maiores sit laborum itaque fugiat.
                </p>
            </li>
        </ul>
    
        <ul>
            <li>
                <h2> Edu 2 </h2>  - <h3> (years) </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit ullam at mollitia quas natus placeat provident earum minima tenetur! Consequuntur dolorum reprehenderit officia maxime necessitatibus maiores sit laborum itaque fugiat.
                </p>
            </li>
        </ul>
    
        <ul>
            <li>
                <h2> Edu 3 </h2>  - <h3> (years) </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit ullam at mollitia quas natus placeat provident earum minima tenetur! Consequuntur dolorum reprehenderit officia maxime necessitatibus maiores sit laborum itaque fugiat.
                </p>
            </li>
        </ul>
    
    </div>
    </div>