<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/pic.jpg" class="img-fluid" id="fotoperf">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <p id="name"> Natalia Espejo </p>
         <p id="relleno">Full Stack Developer Jr </p> 
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> A b o u t   M e</h1>
            <p>Lorem at, maxime nostrum non vero consequatur commodi, officiis soluta praesentium nam minima libero sed magnam fugit?</p>
        </span>
    </div>
</div>